%% vim: ts=4 sw=4 et ft=erlang
{sub_dirs, [ "rel" ]}.

{require_otp_vsn, "R15|R16|17"}.

{cover_enabled, true}.

{cover_print_enabled, true}.

{erl_opts, [debug_info,
            fail_on_warning]}.

{lib_dirs, ["deps"]}.

% edown and rebar_edown dependencies are pulled down automatically by rebar.config.script if
% the user runs rebar edoc|edown
{deps, [
    {gproc,         ".*",   {git, "https://github.com/uwiger/gproc",          {branch, "master"}}}
]}.

{xref_checks, [undefined_function_calls]}.

{eunit_opts, [verbose]}.

{clean_files, [".eunit/*",".*~","*~","*/*~","ebin/*.beam","ebin/*.app"]}.

{edoc_opts, [{overview,     "src/overview.edoc"},
             {title,        "The btune module"},
             {top_level_readme, {"./README.md", "http://github.com/erlanger/btune"}},
             {stylesheet_file, "src/edoc.css"},
             {app_default,  "http://www.erlang.org/doc/man"}]}.

